<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>change password Page</title>
    <link th:href="@{/styles/register.css}" rel="stylesheet" >
    <link th:href="@{/styles/css/main.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragraments :: header"></div>
</hr><br>
<div class="login-page">
    <div class="form">
        <div th:if="${sended == true}">
            <div style="background-color: chartreuse"> <h3>Mot de passe changé</h3></div>
        </div>
        <form th:value="user" th:action="@{/changePassword}" method="post">
            <input type="password" placeholder="old password" th:name="oldPassword"/>
            <input type="password" placeholder="new password" th:name="newPassword"/>
            <input type="password" placeholder="confirm new password" th:name="confirmPassword"/>
            <div th:if="${checkNewPassword}" class="textAlert">
                vous devez rentrez le même mot de passe pour les deux derniers champs
            </div>
            <button>APPLY</button>
        </form>
    </div>
</div>


</body>
</html>