<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:href="@{/styles/css/main.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragraments :: header"></div>

<div class="container">

    <form th:action="@{/updateSubject/{id}(id=${subject.id})}" th:object="${subject}" method="post" enctype="multipart/form-data">

        <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title cannot be empty</td>
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text"  id="title"  th:value="${subject.title}" name="title" readonly="readonly"  class="form-control"/>
        </div>

        <div class="form-group">
            <input th:value="${subject.author.getLogin()}" name="author" readonly="readonly"/>
        </div>


        <div class="dropdown">
            <a type="text" th:name="subject"/>
            <input type="text"  id="category"  th:value="${subject.category.title}" name="category" readonly="readonly"  class="form-control"/>
        </div>

        <p></p>

        <td th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Content cannot be empty</td>
        <div class="form-group">
            <label for="content">Content:</label>

            <textarea type="text" rows="10" id="content" placeholder="Content" class="form-control"
                      th:value="${content}" name="content" autocomplete="off" th:text="${subject.content}"></textarea>

        </div>

        <button class="btn btn-primary" type="submit" value="update">update</button>


    </form>

</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

<script>
$('#content').summernote({
    height: 200
});
$(document).ready(function() {
  $('#content').summernote();
});
</script>

</body>
</html>