<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:href="@{/styles/css/main.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragraments :: header"></div>

<div class="container">

    <form th:value="comment" th:action="@{/updateComment/{id}(id=${comment.id})}" th:object="${comment}" method="post" enctype="multipart/form-data">
        <input th:value="${votableId}" th:name="contentId" readonly="readonly" type="hidden"/>
        <input th:value="${comment.author.getLogin()}" name="author" readonly="readonly" type="hidden"/>
        <input th:value="${T(fr.uge.reddigm.model.TypeContent).SUBJECT}" th:name="isSubjectOrComment" readonly="readonly" type="hidden"/>
        <div class="form-group">
            <textarea type="text" rows="5" id="content" placeholder="Content" class="form-control"
                      th:value="${comment.content}" name="content" autocomplete="off" th:text="${comment.content}"></textarea>
        </div>
        <button class="btn btn-primary" type="submit" value="Create">update</button>
    </form>


</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

<script>
$('#content').summernote({
    height: 200
});
$(document).ready(function() {
  $('#content').summernote();
});
</script>

</body>
</html>