<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
vous êtes sur le point de quitter l'applciation ReddIGM vers :<h1 th:text="${lien}">Link</h1>
<form th:action="@{/}" method="get">
    <button>Annuler</button>
</form>
<form th:action="@{${lien}}" method="get">
    <button >Continuer</button>
</form>
</body>
</html>