<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8"/>
<link rel="apple-touch-icon" sizes="76x76" href="./assets/img/favicon.ico">
<link rel="icon" type="image/png" href="./assets/img/favicon.ico">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<title>Reddigm</title>
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'/>
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Source+Sans+Pro:400,600,700" rel="stylesheet">
<!-- Font Awesome Icons -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<!-- Main CSS -->
<link th:href="@{/styles/css/main.css}" rel="stylesheet"/>
<script src="./assets/js/vendor/jquery.min.js" type="text/javascript"></script>
<script src="./assets/js/vendor/popper.min.js" type="text/javascript"></script>
<script src="./assets/js/vendor/bootstrap.min.js" type="text/javascript"></script>
<script src="./assets/js/functions.js" type="text/javascript"></script>

</head>
<body>
<!--------------------------------------
NAVBAR
--------------------------------------->
<div th:replace="fragraments::header"/>
<!-- End Navbar -->

<!--------------------------------------
CATEGORIES
--------------------------------------->

<div class="col-lg-6">
	<h5 class="font-weight-bold spanborder"><span>Top Categories</span></h5>
	<ol class="list-featured">
		<li th:each="category : ${categories}">
				<span>
				<h6 class="font-weight-bold">
					<p th:utext="${category.title}"></p>
				</h6>
				</span>
		</li>
	</ol>
</div>

<!--------------------------------------
TOP TOPICS
--------------------------------------->
<div class="container pt-4 pb-4" th:each="subject : ${subjectPage.content}">
	<ul class="list-group list-group-flush">
		<li class="list-group-item">
			<h2 class="h4 font-weight-bold">

				<a th:href="@{/subject/{id}(id=${subject.id})}"  th:utext="${subject.title}"></a>

			</h2>
		</li>

		<li class="list-group-item">
			<p class="card-text" th:utext="${subject.content}"></p>
		</li>
		<li class="list-group-item">
			<small class="d-block"><a class="text-muted"><p th:text="${subject.author.login}"></p></a></small>
			<small class="text-muted"><p th:utext="${subject.time}"> &middot; </p><p th:text="${subject.category.title}"></p></small>
		</li>
	</ul>
</div>


<div class="table">
	<ul th:if="${subjectPage.totalPages > 0}" class="pagination justify-content-center"
		 th:each="pageNumber : ${pageNumbers}" id="horizontal-list">
		<a th:href="@{/(size=${subjectPage.size}, page=${pageNumber})}"
		   th:text=${pageNumber}
		   th:class="${pageNumber==subjectPage.number + 1} ? active"></a>
	</ul>
</div>

<!--------------------------------------
FOOTER
--------------------------------------->
<div class="container mt-5">
	<footer class="bg-white border-top p-3 text-muted small">
	<div class="row align-items-center justify-content-between">
		<div>
            <span class="navbar-brand mr-2"><strong>Reddigm</strong></span> Copyright &copy;
			<script>document.write(new Date().getFullYear())</script>
			 . All rights reserved.
		</div>
		<div>
			Made by UGE software students
		</div>
	</div>
	</footer>
</div>
<!-- End Footer -->
    
<!--------------------------------------
JAVASCRIPTS
--------------------------------------->
</body>
</html>