<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link th:href="@{/styles/register.css}" rel="stylesheet"/>
    <link th:href="@{/styles/css/main.css}" rel="stylesheet"/>
    <title>Login Page</title>
</head>
<body>
<div th:replace="fragraments :: header"></div>
<div th:if="${param.error} and ${!blocked}">
    Invalid username and password.
</div>
<div th:if="${blocked}">
    You are blocked for next 24h !!
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<div lass="login-page">
    <div div class="form">
        <form th:action="@{/login}" method="post">
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <input type="checkbox" name="remember-me"/> Remember Me
            <div>
                <button type="submit">Sign In</button>
            </div>
        </form>
        <form th:action="@{/register}" method="get">
            <div>
                <button type="submit"/>
                Register </button></div>
        </form>
    </div>
</div>
</body>
</html>