<!DOCTYPE html>
<html lang="en">

<!------ Include the above in your HEAD tag ---------->

<head>
  <meta charset="utf-8">
  <title>Profile </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'/>
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Source+Sans+Pro:400,600,700" rel="stylesheet">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <!-- Main CSS -->
  <link th:href="@{/styles/css/main.css}" rel="stylesheet"/>

</head>

<div th:replace="fragraments::header"/>
<hr>
<body>

<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-sm-10"><h1 th:text="${userName}">user Name</h1></div>
    <div class="col-sm-2">
      <a class="navbar-brand" href="./changePassword">Change password</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3"><!--left col-->
      <div class="text-center">
        <img th:src="@{'data:image/jpg;base64,'+${photoProfil}}" class="avatar img-circle img-thumbnail"
             alt="avatar">
        <form th:action="@{/profile/updatePhoto}"
              method="post"
              enctype="multipart/form-data"
        >
          <h6>Upload a different photo...</h6>
          <input type="file" th:name="image" accept="image/png, image/jpeg"/>
          <button>changer</button>
        </form>
      </div>


      </hr><br>

    </div><!--/col-3-->
    <div class="col-sm-9">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
      </ul>


      <div class="tab-content">
        <div class="tab-pane active" id="home">
          <hr>
          <form class="form" th:action="@{/profile/email}" method="post" th:object="${user}">
            <div class="form-group">
              <div class="col-xs-6">
                <label><h4>Email</h4></label>
                <span th:if="${emailChanged == true}">Vous avez changé votre email !!</span>
                <p><span th:if="${exist == true}" th:text="${existMessage}" style="color:#8B0000"></span>
                  <span  th:if="${#fields.hasErrors('email')}" th:errors="*{email}"> invalid e-mail</span></p>
                <input type="email" class="form-control" th:name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" th:value="${email}">
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <br>
                <button class="btn btn-lg btn-success" type="submit"><i
                        class="glyphicon glyphicon-ok-sign"></i> Change
                </button>
              </div>
            </div>
          </form>

          <hr>

        </div><!--/tab-pane-->

      </div><!--/tab-pane-->
    </div><!--/tab-content-->

  </div>
</div>
</body>
</html>