<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recovery</title>
    <link th:href="@{/styles/css/main.css}" rel="stylesheet"/>
</head>
<div th:replace="fragraments::header"/>

<body>

<form style="text-align: center; margin-top: 100px;" th:action="@{/recovery}" method="POST">

    Email:
    <input type="email" th:value="${email}" name="email"/>
    <input type="submit" value="Envoyer" />
</form>

<td th:if="${emailValidation == invalid}">
    <p>Un mot de passe temporaire vous a été envoyé par e-mail</p>
</td>


</body>
</html>