<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>register Page</title>
    <link th:href="@{/styles/register.css}" rel="stylesheet" >
    <link th:href="@{/styles/css/main.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragraments :: header"></div>

<div class="login-page">
    <div class="form">
        <form th:action="@{/register}" method="post">
            <input type="text" placeholder="username" th:name="login"/>
            <input type="password" placeholder="password" th:name="password" pattern=".{5,}" title="Five or more characters"/>
            <input type="email" placeholder="email address"  th:name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
    <button>create</button>
        </form>
        <form th:action="@{/login}" method="get">
        <p class="message">Already registered? <p>
        <button href="" >Sign In</button>
        </form>
        <form th:action="@{/recovery}" method="get" >
        <button href="">RECOVERY PASSWORD</button>   </form>

    </div>
</div>
</body>
</html>