<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>register Page</title>
    <link th:href="@{/styles/register.css}" rel="stylesheet" >
</head>
<body>

<div class="login-page">
    <div class="form">
        <form th:action="@{/register}" method="post" th:object="${register}">
            <span th:if="${exist == true}" th:text="${existMessage}"></span>
            <input type="text" placeholder="username" th:name="login"/>
            <input type="password" placeholder="password" th:name="password" pattern=".{5,}" title="Five or more characters"/>
            <span  th:if="${#fields.hasErrors('password')}" th:errors="*{password}"> invalid password </span>
            <input type="email" placeholder="email address"  th:name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
            <span  th:if="${#fields.hasErrors('email')}" th:errors="*{email}"> invalid e-mail</span>
            <button>create</button>
        </form>
        <form th:action="@{/login}" method="get">
            <p class="message">Already registered? <p>
            <button href="" >Sign In</button>
        </form>
    </div>
</div>
</body>
</html>