<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link th:rel="stylesheet" th:href="@{ https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css} "/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <link th:rel="stylesheet"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css} "/>
    <style>
        body {
            background: #eee
        }

        .bdge {
            height: 21px;
            background-color: orange;
            color: #fff;
            font-size: 11px;
            padding: 8px;
            border-radius: 4px;
            line-height: 3px
        }

        .comments {
            text-decoration: underline;
            text-underline-position: under;
            cursor: pointer
        }

        .dot {
            height: 7px;
            width: 7px;
            margin-top: 3px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block
        }

        .hit-voting:hover {
            color: blue
        }

        .vote {
            text-decoration: none;
            border: 0px
        }

        .hit-voting {
            cursor: pointer
        }

        .servicedrop {
            transition-delay: 1s
        }

        .action-collapse {
            cursor: pointer
        }
    </style>

</head>
<body>
<div th:replace="fragraments :: header"></div>

<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="d-flex flex-column col-md-8">
            <div class="d-flex flex-row align-items-center text-left comment-top p-2 bg-white border-bottom px-4">


                <div class="d-flex flex-column ml-3">
                    <td th:if="${admin == true}">
                        <form th:action="@{/admin/deleteSubject/{id}(id=${subject.id})}" method="post">
                            <button> delete</button>
                        </form>
                    </td>
                    <div class="d-flex flex-row post-title">
                        <div class="profile-image"><img class="img-fluid img-responsive rounded-circle mr-2"
                                                        th:src="@{'data:image/jpg;base64,'+${photoProfil}}" alt="image"
                                                        width="38">
                        </div>
                        <div><h5 th:text="${subject.title}">Title</h5></div>
                        <div class=" d-flex flex-row align-items-center voting-icons " style="margin-left: auto;">

                            <form action="#" th:action="@{/downVote/{id}(id = ${subject.id})}" method="post">
                                <div>
                                    <button type="submit" class="vote"><span class="fa fa-sort-down fa-2x hit-voting"></span>
                                    </button>
                                </div>
                            </form>

                            <span th:text="${subject.totalVote}">totalVote</span>
                            <form action="#" th:action="@{'/vote/{subjectId}'(subjectId = ${subject.id})}" method="post">
                                <div>
                                    <button type="submit" class="vote"><span class="fa fa-sort-up fa-2x hit-voting"></span>
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>

                    <li class="list-group-item" style="border: none">
                        <p class="card-text" th:utext="${subject.content}"></p>
                    </li>
                </div>
            </div>
            <div class="coment-bottom bg-white p-2 px-4">

                <form th:value="comment" th:action="@{/comment}" method="post" enctype="multipart/form-data">
                    <input th:value="${subject.id}" th:name="contentId" readonly="readonly" type="hidden"/>
                    <input th:value="${T(fr.uge.reddigm.model.TypeContent).SUBJECT}" th:name="isSubjectOrComment" readonly="readonly" type="hidden"/>
                    <div class="form-group">
                        <textarea type="text" rows="5" id="content" placeholder="Content" class="form-control" th:value="${content}" name="content" autocomplete="off"></textarea>
                    </div>
                    <button class="btn btn-primary" type="submit" value="Create">Comment</button>
                </form>

                <!--------------------------------------
                COMMENTS
                --------------------------------------->

                <div th:fragment="commentThread" th:remove="tag">
                    <ul>
                        <li th:each="comment : ${mycomment}" style="border-left: 2px solid black;">
                            <div class="commented-section mt-2">
                                <div class="d-flex flex-column comment-section" id="myGroup">
                                    <div class="d-flex flex-row align-items-center commented-user">
                                        <img class="img-fluid img-responsive rounded-circle mr-2"
                                             th:src="@{'data:image/jpg;base64,'+${comment.author.photo}}" alt="image"
                                             width="38">
                                        <h5 class="mr-2" th:utext="${comment.author.login}"></h5><span
                                            class="dot mb-1"></span>
                                    </div>
                                    <div class="comment-text-sm"><span> <p th:utext="${comment.content}"></p> </span>
                                    </div>
                                    <div class="reply-section">
                                        <div class="d-flex flex-row align-items-center voting-icons">

                                            <form action="#"
                                                  th:action="@{/comment/vote/{commentId}(commentId = ${comment.id})}"
                                                  method="post">
                                                <button type="submit" class="vote"><span
                                                        class="fa fa-sort-up fa-2x hit-voting"></span></button>
                                            </form>

                                            <form action="#"
                                                  th:action="@{/comment/downVote/{commentId}(commentId = ${comment.id})}"
                                                  method="post">
                                                <button type="submit" class="vote"><span
                                                        class="fa fa-sort-down fa-2x hit-voting"></span></button>
                                            </form>

                                            <span class="ml-2" th:text="${comment.totalVote}">totalVote</span><span
                                                class="dot ml-2"></span>
                                            <div class="bg-white p-2">
                                                <div class="d-flex flex-row fs-12">
                                                    <div class="like p-2 cursor action-collapse" data-toggle="collapse"
                                                         aria-expanded="true" aria-controls="collapse-1"
                                                         href="#collapse-1"><i class="fa fa-commenting-o"
                                                                               aria-hidden="true"></i><span
                                                            class="ml-1">add Comment</span></div>


                                                    <form action="#" th:action="@{/comment/delete/{idSubject}/{id}(id = ${comment.id},idSubject = ${subject.id})}"
                                                          method="post">
                                                        <button th:if="${admin == true}" type="submit" class="btn btn-link mb-2">Delete</button>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>

                                        <div id="collapse-1" class="bg-light p-2 collapse" data-parent="#myGroup">
                                            <form th:value="comment" th:action="@{/comment}" method="post">
                                                <div class="d-flex flex-row add-comment-section mt-4 mb-4"><img
                                                        class="img-fluid img-responsive rounded-circle mr-2"
                                                        th:src="@{'data:image/jpg;base64,'+${comment.author.photo}}"
                                                        alt="image" width="38">

                                                    <input th:value="${comment.id}" th:name="contentId"
                                                           readonly="readonly" type="hidden"/>
                                                    <input th:value="${T(fr.uge.reddigm.model.TypeContent).COMMENT}"
                                                           th:name="isSubjectOrComment" readonly="readonly"
                                                           type="hidden"/>
                                                    <input type="text" class="form-control mr-3"
                                                           placeholder="Add comment" th:name="content"/>

                                                    <button class="btn btn-primary">reply</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div th:with="mycomment=${comment.comments}"
                                 th:include="this :: commentThread" th:remove="tag"></div>
                        </li>
                    </ul>
                </div>


            </div>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

<script>
$('#content').summernote({
    height: 200
});
$(document).ready(function() {
  $('#content').summernote();
});
</script>
</body>
</html>