<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Mes Sujets</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'/>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Source+Sans+Pro:400,600,700" rel="stylesheet">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- Main CSS -->
    <link th:href="@{/styles/css/main.css}" rel="stylesheet"/>
</head>

<body>
<div th:replace="fragraments :: header"></div>
<h1 style="text-align: center"> My Comments : </h1>

<div class="container pt-4 pb-4" th:each="comment : ${comments}">
    <ul class="list-group list-group-flush">

        <li class="list-group-item">
            <p class="card-text" th:utext="${comment.getContent()}"></p>
            <p class="card-text" th:utext="${comment.getTime()}"></p>
            <a th:href="@{/subject/{id}(id=${commentService.getSubjectIdFromComment(comment.id)})}"  style="margin-left: 20px;" >go to subject</a>
            <form action="#" th:action="@{/comment/delete/{idSubject}/{id}(id = ${comment.id},idSubject = ${commentService.getSubjectIdFromComment(comment.id)})}" method="post" >
                <button type="submit" class="btn btn-link mb-2">Delete</button>
            </form>
           <a th:href="@{/editComment/{id}(id=${comment.id})}" style="margin-left: 20px;"> edit</a>
        </li>

    </ul>
</div>

</body>
</html>