
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <title>Mes Sujets</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'/>
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Source+Sans+Pro:400,600,700" rel="stylesheet">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <!-- Main CSS -->
  <link th:href="@{/styles/css/main.css}" rel="stylesheet"/>
</head>

<body>
<div th:replace="fragraments :: header"></div>

<h1 style="text-align: center"> My Subjects : </h1>
<div class="container pt-4 pb-4" th:each="subject : ${subjects}">

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <h2 class="h4 font-weight-bold">

        <a th:href="@{/subject/{id}(id=${subject.id})}"  th:utext="${subject.title}"></a>

      </h2>
    </li>

    <li class="list-group-item">
      <p class="card-text" th:utext="${subject.content}"></p>
    </li>
    <li class="list-group-item">
      <small class="d-block"><a class="text-muted"><p th:text="${subject.author.login}"></p></a></small>
      <small class="text-muted"><p th:utext="${subject.time}"> &middot; </p><p th:text="${subject.category.title}"></p></small>
      <small class="d-block"> <a th:href="@{/edit/{id}(id=${subject.id})}"> edit</a></small>
    </li>

  </ul>
</div>


</body>


</html>
